# Игнорирование конфига bundler
/.bundle

# Игнорирование дефолтной базы данных SQLite.
/db/*.sqlite3

# Игнорирование всех логов и временных файлов.
/log/*.log
/tmp

# Игнорирование прочих ненужных файлов.
doc/
*.swp
*~
.project
.DS_Store
.idea

# Игнорирование загруженных изображений
public/uploads/

#
public/*.jpg

/config/database.yml # доступ к базе данным
/Procfile # про него я еще расскажу
config/deploy/ # файлы Capistrano
/shared # файлы, которых нет в репозитории, но они будут скопированы на сервер при первом деплое приложения
/public/system/ # если установлен Paperclip
