.row
  .panel.panel-default
    .panel-body
      = link_to new_article_path, class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-pencil
        = t '.btns.create'
  .col-xs-12.col-sm-8.col-md-10
.row
  = render @articles
  .center
    = will_paginate @articles, previous_label: t('prev_page'), next_label: t('next_page')
