.page-header
  %h1= "Барлык кулланучылар (#{@users.count})"
%table.table.table-hover
  %thead
    %tr
      %td #
      %td Исем Фамилия
      %td E-mail
      %td Теркәлде
      %td Соңгы керү
      %td Сатып алынган әсәрләр
  %tbody
    = render @users
