.row
  .col-md-3
    %h3
      = @user.name
      %small= @user.email
  .col-md-6
    - if @user.fictions.empty?
      %p Здесь будут отображаться купленные пользователем произведения
    - else
      = render @user.fictions, without_admin_links: true
  .col-md-3
    %p Здесь может еще кое-что
