#index-carousel.carousel.slide{ data: { ride: "carousel" } }
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#index-carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#index-carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#index-carousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img{:alt => "...", :src => "slide0.jpg", class: "center-block"}
        .carousel-caption
          %h1
            Хөрмәтле милләттәш!
          %p
            Сине «Хәят» интернет әдәби журналы сәламли!
          = link_to about_path, class: "btn btn-primary" do
            Сайт турында
            %span.glyphicon.glyphicon-chevron-right
    .item
      %img{:alt => "...", :src => "slide1.jpg", class: "center-block"}
        .carousel-caption
          %blockquote
            %p
              Әгәр дә сез китаплар һәм шигырьләр укымасагыз, бу тормыштагы иң бәхетсез кеше булыр идегез
            %small
              Уолт Дисней
          = link_to for_readers_path, class: "btn btn-primary" do
            Әдәбият сөючеләр өчен
            %span.glyphicon.glyphicon-chevron-right
    .item
      %img{:alt => "...", :src => "slide2.jpg", class: "center-block"}
        .carousel-caption
          %h1
            Язучылар өчен
          = link_to for_writers_path, class: "btn btn-primary" do
            Тулырак мәгълүмат
            %span.glyphicon.glyphicon-chevron-right
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#index-carousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#index-carousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
