#index-carousel.carousel.slide{ data: { ride: "carousel" } }
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#index-carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#index-carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#index-carousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      %img{:alt => "...", :src => "slide0.jpg", class: "center-block"}
        .carousel-caption
          %h1
            Рәхим итегез!!!
          %p
            This site created for reading modern fiction literature
    .item
      %img{:alt => "...", :src => "slide1.jpg", class: "center-block"}
        .carousel-caption
          %h1
            Әдәбият сөючеләр өчен
          %p
            Уку һәм укудан тәм алу өчен иң уңайлы ресурс
    .item
      %img{:alt => "...", :src => "slide2.jpg", class: "center-block"}
        .carousel-caption
          %h1
            Язучылар өчен
          %p
            Без язучыларга уңайлы шартлар тудырырга тырыштык
          = link_to "Тулырак мәглүмат", about_path, class: "btn btn-primary"
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#index-carousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#index-carousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right
