.row#welcome
  .col-md-8
    = link_to 'Khayat', root_path, class: 'navbar-brand', id: 'logo'
    .caption
      %blockquote
        %p
          Әгәр дә сез китаплар һәм шигырьләр укымасагыз, бу тормыштагы иң бәхетсез кеше булыр идегез
        %small
          Уолт Дисней
  .col-md-4
    .front
      %h5
        %strong
          Рәхим итегез
      .form
        = render 'devise/sessions/form'
    .front
      %h5
        %strong
          Хәяттә беренче тапкырмы?
        Безгә кушылыгыз
      .form
        = render 'devise/registrations/form'


