.row.table
  .column#left
    .promo#welcome
      %blockquote
        %p
          Әгәр дә сез китаплар һәм шигырьләр укымасагыз, бу тормыштагы иң бәхетсез кеше булыр идегез
        %small
          Уолт Дисней
    .promo.sm#fictions
      Fictions
    .promo.lg#workshop
      Workshop
    .promo.lg#articles
      Articles
    .promo.sm#writers
      For writers
  .column#right
    .promo#sign-up
      Please, Sign up or Login
      = render 'devise/registrations/form'


