.row.help-item.center#last-step
  .col-sm-12.col-md-offset-2.col-md-8
    %h3.page-header 4. Әсәрне уку
    %p Түләү уңышлы төгәлләнгәннән соң, сез алган әсәр профилегезнең "Минем китапханә" бүлегендә пәйда булачак. "Укырга" төймәсенә басып әсәрне укый башларга була. Әсәр шулай ук әсәрләр исемлегндә сезгә уку өчен ачылачак. Әсәрләр уку җайлырак булсын өчен өлешләргә бүленгән. Өлешләргә «алга», «артка» төймәләрен файдалынып күчеп була. Бер түләнгән әсәрне үз аккаунтыгыздан уңайлы һәр вакытта, теләсә кайсы җайланмадан укырга мөмкин.

.row
  %h1
    = link_to '#pay-systems', class: "scrollto" do
      %span.glyphicon.glyphicon-chevron-down
