.row.help-item.center#second-step
  .col-sm-12.col-md-offset-2.col-md-8
    %h3.page-header 2. Үзегезгә ошаган әсәрне сайлау
    %p
      Үзегез ошаткан әдәби әсәрнең
      = link_to "Түләргә", '#', class: "btn btn-primary"
      төймәсенә басасыз. Бу төймә безнең партнерның түләү битен ачачак.

.row
  %h1
    = link_to '#third-step', class: "scrollto" do
      %span.glyphicon.glyphicon-chevron-down
