.page-header
  %h1 О сайте
.prose
  %p Проект «Хаят» представляет собой интернет-журнал на татарском языке. Здесь размещаются произведения современных татарских писателей и поэтов. Читателю предоставляется возможность бесплатно ознакомиться с отрывком из произведения, для дальнейшего чтения он должен зарегистрироваться на сайте, после чего оплатить установленную редакцией цену. Публикации осуществляются только по предварительному соглашению с авторами, которым выплачивается доля от полученной прибыли.
  %p Сайт так же содержит раздел с бесплатными публикациями, которые будут интересны для целевой аудитории. Планируется создать интернет-магазин бумажных изданий.
%p
  Контактный e-mail для партнеров:
  = mail_to 'admin@khayat.ru' do
    %span.glyphicon.glyphicon-envelope
    admin@khayat.ru
