- provide(:title, "Язучылар өчен")
.page-header
  %h1 Язучылар өчен
.prose
  %p Хөрмәтле татар әдибе! Урамда хәзер XXI гасыр. Ашкын тизлектә технологияләр үзгәрә. Заман бер урында туктап калуны яратмый. Укучыларның байтагы Интернет мәйданга күчте. Балалар, үсмерләр, яшьләр генә түгел, җитмеш-сиксән яшьлекләр арасында да виртуаль дөньяда мәгълүмат алышуны, аралашуны көндәлек гадәткә кертүчеләр байтак. Кәгазь матбугатның, кәгазь китапларның өстенлекләрен һәм әһәмиятен таныган хәлдә, укучы белән виртуаль дөньяда очрашу вариантын да онытырга ярамый. «Хәят.ру» әдәби интернет журналы әдипкә үз әсәрен укучыга тәкъдим итүнең чикләрне белми торган мәйданын тәкъдим итә.
  .well
    %b Безнең журналда табадан яңа гына төшкән әсәрегезне урнаштырып, сез укучы белән очрашуның тиз, чыгымсыз һәм иң оптималь юлын сайлыйсыз.
  %p Безнең редакция үткәргән мониторинг социаль челтәрләрдә әдәбият укучыларның, күңелләрендә шигърияткә һәм сәнгатькә мәхәббәт йөртүчеләрнең күпсанлы булуын күрсәтә. Интернет мәйданы сезгә талантыгызның көчен сынауның, иҗатыгыз өчен каләм хакы алуның киң мөмкинлекләрен ача. Бүгенге көндә бу мөмкинлекләрдән баш тарту — үз эчеңә бикләнеп, уңыштан йөз чөерү ул. Без, проектның авторлары, уңышка йөз тотабыз, чөнки беләбез: уңыш аңа омтылучыларга гына елмая. Без ышанабыз: кайчан булса да татар язучысы профессиональ рәвештә бары тик әдәби иҗат белән генә шөгыльләнеп, лаеклы идеяләр белән сугарылган, дулкынландырырлык әсәрләр язып яшәү мөмкинлекләре алачак. Укучы сездән сюжетка күчкән гыйбрәтле язмышлар, фәлсәфи уйлану нәтиҗәсендә туган асыл фикерләр, милли колоритка һәм афористик фикерләргә корылган әдәби тел көтә. Милли төшенкелек урынына бетмәс ышаныч, милли деградация урынына милли алгарыш, әхлакый яктан позитив булган үсеш юнәлеше — без омтылган максатлар менә шул.
%p
  Безнең белән элемтәгә керегез:
  = mail_to 'writers@khayat.ru' do
    %span.glyphicon.glyphicon-envelope
    writers@khayat.ru

