- provide(:title, "Әдәбият сөючеләр өчен")
.page-header
  %h1 Әдәбият сөючеләр өчен
%blockquote
  %p
    Әгәр дә сез китаплар һәм шигырьләр укымасагыз, бу тормыштагы иң бәхетсез кеше булыр идегез.
  %small
    Уолт Дисней
%blockquote
  %p
    Китап укучылар һәрвакытта да телевизор караучылар белән идарә итәчәкләр.
  %small
    Ф. Жанлис
.prose
  %p Инде күптән исбат ителде: яхшы әдәби әсәр уку адәм баласын рухи яктан баета, күңелне чистарта, яңа офыклар һәм дөньялар ача, гыйбрәтле язмышлар белән таныштыра, үз хаталарыңны күрергә өйрәтә.
  %p Әдәби әсәр уку аналитик фикерләү сәләтен үстерә. Әдәби метафораларның, аллегорияләрнең мәгънәснең ачыкларга өйрәнү, үзеңне сюжет борылышларында хис итү баш мие эшчәнлеген сыгылмалырак булуына китерә һәм акыл өчен иң яхшы күнекмәләрнең берсе булып тора.
  %p Әдәби әсәр уку игътибарны бер ноктага һәм фокуска тупларга өйрәтә. Безнең мәгълүмат ташкыныннан интеккән гасырда игътибарсызлык синдромы белән авыручылар саны арта. Әдәби уку — бу синдромнан котылуның иң яшы ысулы.
  %p Уку, көтелмәгән адымнарга һәм уңышка рухландырып, сезгә максатыгызга ирешергә булыша. Күп кенә танылган шәхесләр үз тормышларындагы борылышка этәргеч итеп укып чыгылган китапны атыйлар.
  %p Әдәби әсәрләр уку дөньяга карашны киңәйтә. Без үзебез беркайчан да булмаган урыннар, башкача берничек тә белеп булмы торган вакыйгалар белән танышабыз. Әдәби әсәрләрдәге тормыш ситуацияләре безгә үз томышыбыздагы вакыйгаларга бүтәнчә карарга мөмкинлек бирә.
  %p Уку кәефне яхшырта. Даими рәвештә әдәби әсәрләр укучылар стресстан котылалар. Уку — кыска гына вакытка булса да мәшәкатьләрне онытып бүтән дөньяга чумып ял итүнең иң яхшы ысулы ул.
  %p «Хәят.ру» әдәби интернет журналы сезгә телефоннан берничә тапкыр сөйләшерлек бәягә, милли әдәбиятның табадан гына төшкән әсәрләрен укып ләззәтләнү, үз-үзеңне үстерү мөмкинлеге бирә.
  %p Безнең журналдагы әдәби әсәрләрне укып, син бер үк вакытта милли әдәбиятның үсешенә үз өлешеңне дә кертәсең.
