- provide(:title, "Ярдәм")
.page-header
  %h1 Ярдәм
%p= "Сайттагы әдәби әсәрләрне тулысынча уку өчен иң башта #{link_to "теркәлергә", new_user_registration_path} кирәк.".html_safe
%p= "Үзегез ошаткан әдәби әсәрнең #{link_to "Түләргә", '#', class: "btn btn-primary"} төймәсенә басасыз.".html_safe
%p Сезгә берничә төрле түләү системасын тәкъдим ителәчәк: банк картасы, Яндекс.Деньги, Qiwi һәм башка. Телефон аша түләү әлегә эшләми. Үзегезгә кулай булган түләү системсының төймәсенә басасыз. Түләү системасы сораган мәгълүматны кертәсез һәм система кушкан операцияләрне башкарасыз. Профилегездә «Минем китапханә» бүлегендә түләнгән әсәр барлыкка килә. Шулай ук «Әсәрләр» төймәсе аша да үзегез сайлаган әсәрне уку мөмкинлеге барлыкка килә. Шуннан соң әдәби әсәрне ачып, «алга», «артка» төймәләрен файдалынып уку мөмкин була башлый. Бер түләнгән әсәрне үз аккаунтыгыздан уңайлы һәр вакытта укырга була.
