- if user_signed_in?
  .row
    .col-md-12
      .jumbotron.center
        %h1= "Welcome, #{ current_user.email }"
        %p This site created for reading modern fiction literature
- else
  .row.top
    .col-md-8
      = render 'carousel'
    .col-md-4
      .front-signin
        = render 'shared/signin_form'
