- if user_signed_in?
  .row
    .col-md-12
      .jumbotron.center
        %h1= "Welcome, #{ current_user.email }"
        %p This site created for reading modern fiction lit.
- else
  .row.top
    .col-md-8
      .jumbotron.center
        %h1 Welcome!!!
        %p Find me in app/views/pages/index.html.haml
        = link_to "Sign In", '#', class: "btn btn-lg btn-primary"
    .col-md-4
      .front-signin
        = render 'shared/signin_form'
