- if user_signed_in?
  .row
    .col-md-12
      .jumbotron.center
        %h1= "Welcome, #{ current_user.email }"
        %p This site created for reading modern fiction literature
- else
  - provide(:partial, 'pages/carousel')
