# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cf98574322d21e2493e055afd443419a3fae7290a715496dbee1fe252073bebb644723de36b265b3fa6691409f05f622aa683b17ca48c283add9c6177e36c561

test:
  secret_key_base: 15b014b9d8add3f71274ddeaa1a368f0344fe6e90a6c6982f5a615e31f165517a019eb6abf4ef491132d352406ef4e85897ad339cdf0469602b55a82cb2fb5f2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
