- provide(:title, @post.title)
- content_for :head do
  %meta{ property: "og:description", content: truncate(@post.body.html_safe, length: 100) }
  %meta{ name: "description", content: truncate(@post.body.html_safe, length: 100) }
.page-header
  %h1= @post.title
.row.center
  = image_tag @post.cover.large.url.to_s, class: "img-rounded center-block"
  = render 'shared/share'
.row
  = @post.body.html_safe
