- if user_signed_in? && current_user.can_read?(fiction)
  = link_to t('.read'), first_episode_path(fiction), class: 'btn btn-info'
= link_to t('.pay'), '#', class: 'btn btn-primary buy', data: { id: fiction.id, title: fiction.title, author: fiction.author.to_s, price: fiction.price, cover: fiction.cover.thumb.url.to_s }
