- if current_user && current_user.admin?
  = link_to "Edit", edit_fiction_path(fiction), class: "label label-primary"
  = link_to "Delete", fiction_path(fiction), method: :delete, class: "label label-danger", data: { confirm: "You sure?" }
