- if current_user && !current_user.bought?(@fiction)
  = form_for(current_user.purchases.build(fiction_id: @fiction.id)) do |f|
    %div= f.hidden_field :fiction_id
    = f.submit "Buy", class: "btn btn-lg btn-primary auto-width"
- else
  %p You should sign in to read fiction in this site
