%ul.list-group
  %li.list-group-item
    %span.badge 8
    Шигырьләр
  %li.list-group-item
    %span.badge 2
    Хикәяләр
  %li.list-group-item.active
    %span.badge 3
    Романнар
  %li.list-group-item
    %span.badge 0
    Тәнгыйть

