- active = params[:genre_id]
%ul.list-group
  %li{ class: "list-group-item#{" active" if active.blank?}" }
    = link_to t("genres.all"), genre_id: nil
  - Genre.all.each do |genre|
    - unless genre.fictions.count.zero?
      %li{ class: "list-group-item#{" active" if active.to_i == genre.id}" }
        = link_to genre, genre_id: genre.id
