- provide(:title, @fiction.title)
.page-header
  %h1
    = @fiction.title
    %small
      = @fiction.author.email
.row
  - if current_user && current_user.bought?(@fiction)
    .col-md-12
      = markdown @fiction.body
  - else
    .col-md-11
      %p Here will be annotation
    .col-md-1
      = render 'buy', fiction: @fiction
