.title {
  position: absolute;
  right: 0px;
  left: 0px;
  padding: 0px 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff
}

.article {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccf;
}

.article .date {
  margin: 0 8px;
}
