#index-carousel {
  margin-top: -60px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.carousel-caption blockquote {
  border-left: none;
}

.carousel-caption blockquote p::before {
  color: #aaa;
  font-size: 4em;
  content: open-quote;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.carousel-caption blockquote small {
  color: #ddd;
}

.carousel-caption p {
  font-size: 1.25em;
}

.stat {
  padding-top: 4px;
}

.active a {
  color: #fff;
}

.desc {
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.help-item {
  padding-top: 32px;
}

.pay-item {
  padding-top: 64px;
}
