.stat {
  padding-top: 4px;
}

.active a {
  color: #fff;
}

.desc {
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.help-item {
  padding-top: 32px;
}

.pay-item {
  padding-top: 64px;
}

.column {
  position: relative;
  float: left;

  &#left {
    width: 62.5%;
  }

  &#right {
	width: 37.5%;
  }
}

.promo {
  position: relative;
  float: left;
  padding: 16px;

  &.sm {
	width: 55%;
  }

  &.lg {
	width: 45%;
  }

  &#welcome {
	width: 100%;
	height: 300px;
	background: url(/welcome.jpg);
	background-size: cover;
  }

  &#fictions {
	background: #a00;
	height: 100px;
  }

  &#workshop {
	background: #0a0;
	height: 100px;
  }

  &#articles {
	background: #00a;
	height: 100px;
  }

  &#writers {
	background: #000;
	height: 100px;
  }

  &#sign-up {
	width: 100%;
  }
}
