.overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: #fff;
  bottom: 0px;
  font-family: 'Comfortaa', cursive;
  padding: 8px;
  margin: 32px 0px;
}

#cover {
  background-size: cover;
}
