#loginModal.modal.fade{ role: "dialog", tabindex: "-1", aria: { hidden: "true", labelledby: "loginModalLabel" } }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" } }
          %span{ aria: { hidden: "true" } } ×
          %span.sr-only Close
        %h4#loginModalLabel.modal-title Авторизация
      .modal-body
        = render 'shared/signin_form'
